@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  text-align: center;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

#innerCont2{
  color: white;
  display: flex;
  background-color: #0A1045;
  justify-content: space-between;
}

#navTitle{
  font-size: large;
  padding: 20px;
  font-size: x-large;
  font-weight: bolder;
}

#navbar{
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  font-size: medium;
  padding: 20px;
}

li{
  list-style: none;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}

a{
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
}

a:link {
  color: white;
  background-color: #16bac5;}

a:visited{
  color: white;
  background-color: #16bac5;
}

a:hover{
  color: #171D1C;
  background-color: #EFE9F4;
}

a:active{
  color: white;
  background-color: #16bac5;
}

#innerCont3{
  width: 100vw;
  overflow: auto;
}

table{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}

th{
  padding: 20px;
  background-color: cornflowerblue;
}

td{
  padding: 20px;
  background-color: aquamarine;
}

input[type=reset], input[type=submit] {
  background-color: #16bac5;
  border: none;
  color: white;
  padding: 12px 24px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bolder;
}

input[type=reset]:link, input[type=submit]:link{
  color: white;
  background-color: #16bac5;
}

input[type=reset]:visited, input[type=submit]:visited{
  color: white;
  background-color: #16bac5;
}

input[type=reset]:hover, input[type=submit]:hover{
  color: #171D1C;
  background-color: #EFE9F4;
}

input[type=reset]:active, input[type=submit]:active{
  color: white;
  background-color: #16bac5;
}
